body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.makeblue {
  background-color: #311b92 !important;
  height: 100%;
  color: white;
  padding-top: 4.6vh;
}

.MuiListItemIcon-root{
  color: white !important;
}
.margin{
  padding: 2vh;
}

.makeStyles-card-141 {
  border: 1px;
  max-width: 345px;
  box-shadow: 0 3px 5px 2px #b0cdc2 !important;
  border-color: #e65100;
}

.makeStyles-avatar-146 {
  background-color: #4859b7 !important;
}
